@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

.app {
  display: flex;
}

.app__container {
  display: flex;
  margin: auto;
}

.app__title {
  margin: 40px;
  font-family: 'Noto Serif KR', serif;
  font-size: 4vw;
}

.app__name {
  font-size: 6vw;
  font-weight: 600;
}

.app__left__border {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 5px;
  background-color: rgb(17, 108, 245);
}

.app__right__border {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 5px;
  background-color: rgb(17, 108, 245);
}

.app__top__border {
  position: fixed;
  left: 0;
  top: 0;
  height: 5px;
  width: 100vw;
  background-color: rgb(17, 108, 245);
}

.app__bottom__border {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100vw;
  background-color: rgb(17, 108, 245);
}